





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My EJS</title>
</head>
<body>
    <h1><%- title %> </h1>
    <b>Thijo efw i wih f wpoi joiehiuf iiuhfi ewu h [oi fjh eriupfhi9uerh fiihwer[ofui hhbuewf hbiew</br> </br>

    <%- new Date().toString() %>

    </br> </br>

        <!-- if else on EJS -->

    <% if (post.visible) { %> 

        <h1>Title: <%= post.title %> </h1>
        <p>Body: <%= post.body %> </p>

    <% } else { %> 

        <h1>Title: PRIVARE CONTENT! </h1>
        <p>Body: PRIVARE CONTENT! </p>

    <% } %> 

        <!-- loop in EJS -->

    <ul>
        <% for (let p of posts) { %> 
            <li>
                <%= p.title %> By <%= p.author %>  
            </li>
        <% } %> 
    </ul>

        <!-- if alse + loop -->

    <% if (posts.length == 0) { %> 
        <h1>No posts available!</h1>
    <% } else { %>
        <ul>
            <% for (let p of posts) { %> 
                <li>
                    <%= p.title %> By <%= p.author %>  
                </li>
            <% } %> 
        </ul>
    <% } %> 


</body>
</html>